@import url('https://fonts.googleapis.com/css?family=Varela+Round');
*{

    font-family: 'Varela Round', sans-serif;
}



@media screen and (max-width: 700px) {
  .CorpoDoCampoDeLogin {
      width: 80%;
      height: 514px;
  }

  .logoSite img{
      width: 205px;
      height: 100px;
  }

  body{
    background-color: #182063;
  }

  .imgDeFundo{
    display: none;
  }



}
