@import url('https://fonts.googleapis.com/css?family=Varela+Round');
*{
    font-family: 'Varela Round', sans-serif;
}


@media screen and (max-width: 700px) {
  body{
    width: 10%;
    height: 100%;
  }

  .TelaMarketing, .NomeSite, h2, .BtnLoginMk, .CorpoTelaMarketing{
    display: none;
  }

  .TeleCadastro{
    width: 100%;
    height: 120%;
    background-color: #318acf;
    display: flex;
    flex-direction: column;
  }

  .BtnLogin{
      border: none;
      background: none;
      width: 251px;
      height: 46px;
      margin-top: 20px;
      outline: none;
      display: block;
  }

  .BtnLogin img{
    width: 200px;
  }
}
