@import url('https://fonts.googleapis.com/css?family=Varela+Round');
*{
    font-family: 'Varela Round', sans-serif;
}


@media screen and (max-width: 700px) {
  .MenuLateral {
      width: 61%;
      height: 91.4%;
      display: none;
      flex-direction: column;
      box-shadow: 0px 3px 5.7px 0.3px rgba(0, 0, 0, 0.15);
      background-color: #318acf;
      position: absolute;
      z-index: 2;
  }

  .ConteudoConfissoes{
    background-color: #ececec;
    width: 100%;
    height: 91%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    overflow: scroll;
  }

  .cardConfissao{
      width: 80%;
      height: 80%;
      border-radius: 5px;
      background-color: #ffffff;
      box-shadow: 0px 3px 8px 0 rgba(0, 0, 0, 0.15);
      margin-top: 15px;
      margin-bottom: 15px;
  }

  .infoUser{
      width: 100%;
      height: 80px;
  }

  .iconUsuario img{
      max-width: 70px;
      max-height: 70px;
  }

  .textNomeUsuario{
      width: 70%;
      font-size: 25px;
      text-align: left;
      color: #4d4d4d;
      margin-left: 90px;
      margin-top: -60px;
  }

  .textArrobaUsuario{
      width: 70%;
      font-size: 20px;
      color: #b5b5b5;
      margin-left: 90px;
  }

  .setaMenuCard{
      left: 30%;
      top: -20px;
  }

  .textConfissao{
      margin-top: 10px;
      width: 95%;
      height: 20%;
      font-size: 20px;
      text-align: left;
      color: #050505;
  }

  .menuCard{
      position: relative;
      left: 30%;
      top: -31px;
      justify-content: center;
      align-items: center;
      width: 141px;
      height: 90px;
  }

  .logoSite img{
      width: 40%;
      margin-left: 20px;
  }

  .iconUsuarioHeader img{
      width: 30px;
      height: 30px;
      margin-top: 5px;
  }

  .iconSeta img{
      width: 15px;
      margin-left: 12px;
  }

  .secaoUsuario{
    margin-right: 20px;
  }

  .menuUsuario{
    right: 14px;
  }

  .btnVisualizarConfessario{
    display: flex;
    position: fixed;
    top: 75px;
    left: 320px;
    background-color: #318acf;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 8px 0 rgba(0, 0, 0, 0.15);
  }
}
